<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <style>
        .box {
            width: 200px;
            height: 200px;
        }
        .box-blue {
            background-color: blue;
        }
        .box-red {
            background-color: red;
        }
        .box-green {
            background-color: green;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{ greeting }}
        <br>
        <input v-model="greeting" />
        <hr>
        <div v-if="isVisible" class="box box-red"></div>
        <div v-else-if="isVisibleTwo" class="box box-green"></div>
        <div v-else class="box box-blue"></div>
        <button @click.right="toggleBox" style="margin-top: 5px;">right click me</button>
        <br>
        <input @keyup.enter="greet(message)" v-model="message" style="margin-top: 10px;" />
        <login-form />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    isVisible: false,
                    isVisibleTwo: true,
                    greeting: "Hello from data.",
                    message: 'Hello Vue 3'
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible;
                },
                greet(x) {
                    alert(x);
                }
            }
        });
        app.component('login-form', {
            template: `
            <form @submit="handleSubmit">
                <h3>{{ title }}</h3>
                <label for="name">Name</label>
                <input v-model="name" />
                <br>
                <label for="age">Age</label>
                <input v-model="age" /><br>
                <label for="password">Password</label>
                <input type="password" v-model="password" />
                <button type="submit">Submit</button><br>
                <hr>
                <custom-input v-model="email" :label="emailLabel" />
                <custom-input v-model="password" :label="passwordLabel" />
            </form>
                `,
            data: function() {
                return {
                    title: 'Login Form',
                    name: 'John Doe',
                    email: 'test',
                    emailLabel: 'Email',
                    password: 'password',
                    passwordLabel: 'Password',
                    age: 30
                }
            },
            methods: {
                submitForm() {
                    alert('Form submitted.');
                },
                handleSubmit(e) {
                    console.log(e)
                    console.log(this.name, this.age, this.password)
                    e.preventDefault();
                    console.log('Form submitted.');
                }
            }


        });
        app.component('custom-input',{
            template: `
            <label>
                {{ label }}
                <input type="text" v-model="inputValue">
            </label><br>
            `,
            props: ['label', 'modelValue'],
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue
                    },
                    set() {
                    }
                }
            },
            // data: function() {
            //     return {
            //         inputValue: ''
            //     }
            // }
        })
        app.mount('#app');
    </script>
</body>
</html>